/* Rules for displaying nav */

nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #cc8500;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  color: #FFFFFF;
  padding: 0.5em 1.5em 0.5em 1.5em;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
}

.nav-logo {
  font-family: 'Bungee', cursive;
  font-size: 2em;
  align-self: last baseline;
}

.nav-right {
  align-self: baseline;
  flex-direction: column;
  text-align: center;
}

.nav-right span {
  font-weight: 600;
}

.nav-right p {
  margin-bottom: 0;
}

.nav-right i {
  margin-top: 0;
  color: red;
  align-self: center;
}

.nav-button {
  background-color: transparent;
  border: none;
  animation: float 2s infinite ease;
}

@keyframes float {
	0% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}

	50% {
		transform: translateY(0.5rem);
		-webkit-transform: translateY(0.5rem);
	}

	100% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
  }
}