nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0.5em 1.5em 0.5em 1.5em;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
}

.nav-logo {
  font-family: 'Bungee', cursive;
  font-size: 2em;
  align-self: last baseline;
}

.nav-right {
  align-self: baseline;
  flex-direction: column;
  text-align: center;
}

.nav-right span {
  font-weight: 600;
}

.nav-right p {
  margin-bottom: 0;
}

.nav-right i {
  margin-top: 0;
  color: red;
  align-self: center;
}
