#new-tweet-form {
  margin-top: 2em;
}

#tweet-text {
  height: 2.5em;
  width: 100%;
  background: none;
  font-size: .75em;
  font-weight: 600;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 4px solid black;
  margin-top: 1em;
  margin-bottom: 1em;
  outline: none;
  resize: none;
}

.tweet-text-label {
  font-weight: 600;
}

.button-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  margin-bottom: 2em;
}

.button {
  background-color: #4056A1;
  color: #FFF;
  border: none;
  cursor: pointer;
}

.text-red {
  color: red;
}

